eagle.epf
fabrication.lbr
*.b#*
*.s#*
*.l#*
.obsidian/*
MTAP-Embedded-exportpro.dru
MTAP-Embedded-exportpro2.cfg
DRILEGEND.CFG
MTAP-Embedded.pro
manufacturing/invoice/*
.vscode
.pio
c_cpp_prperties.json
